:root {
	--bg-color: #111;
	--text-color: #ccc;
	--heading-color: #fedd56;
	--link-color: #fbf1a9;
	--font-stack: -apple-system, BlinkMacSystemFont, "Inter var", Helvetica, Arial,
		sans-serif;
	--mono-stack: "SFMono-Regular", "Menlo", "IBM Plex Mono", monospace;
}
html {
}
body {
	margin-right: 0 auto;
	margin-left: 0 auto;
	max-width: 960px;
	padding: 16px;
	background: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font-stack);
	font-size: 20px;
	line-height: 1.6;
	margin: auto;
}
img {
	max-width: 100%;
}
a {
	color: var(--link-color);
}
h1 {
	color: var(--heading-color);
	font-size: 36px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
hr {
	max-width: 600px;
}
ol {
	font-family: var(--mono-stack);
	padding-top: 10px;
	padding-bottom: 25px;
	max-width: 75vh;
	margin: auto;
}
.nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
}
.nav li {
	display: inline;
	font-weight: 600;
}
.nav li + li:before {
	content: " | ";
	padding: 0 10px;
}
.nav a:hover {
}
.nav a.active {
}
#title,
#title a {
	font-size: 50px;
	font-weight: 900;
	color: var(--heading-color);
	text-decoration: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
#title,
#completion,
#credits {
	text-align: center;
}
